[submodule "full-stack/buy-me-a-coffee"]
	path = full-stack/buy-me-a-coffee
	url = git@github.com:kuzminklk/buy-me-a-coffee.git
	branch = main
[submodule "full-stack/tsender"]
	path = full-stack/tsender
	url = git@github.com:kuzminklk/tsender.git
	branch = main
[submodule "full-stack/nft-marketplace"]
	path = full-stack/nft-marketplace
	url = git@github.com:kuzminklk/nft-marketplace.git
	branch = main
[submodule "advanced-foundry/account-abstraction/ethereum"]
	path = advanced-foundry/account-abstraction/ethereum
	url = git@github.com:kuzminklk/account-abstraction-ethereum.git
[submodule "advanced-foundry/account-abstraction/zksync"]
	path = advanced-foundry/account-abstraction/zksync
	url = git@github.com:kuzminklk/account-abstraction-zksync.git
[submodule "advanced-foundry/airdrop"]
	path = advanced-foundry/airdrop
	url = git@github.com:kuzminklk/airdrop.git
[submodule "advanced-foundry/dao"]
	path = advanced-foundry/dao
	url = git@github.com:kuzminklk/dao.git
[submodule "advanced-foundry/erc-20"]
	path = advanced-foundry/erc-20
	url = git@github.com:kuzminklk/erc-20.git
[submodule "advanced-foundry/nft"]
	path = advanced-foundry/nft
	url = git@github.com:kuzminklk/nft.git
[submodule "advanced-foundry/rebase-token"]
	path = advanced-foundry/rebase-token
	url = git@github.com:kuzminklk/rebase-token.git
[submodule "advanced-foundry/stablecoin"]
	path = advanced-foundry/stablecoin
	url = git@github.com:kuzminklk/stablecoin.git
[submodule "advanced-foundry/upgradability"]
	path = advanced-foundry/upgradability
	url = git@github.com:kuzminklk/upgradability.git
[submodule "chainlink/lib/forge-std"]
	path = chainlink/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chainlink/lib/openzeppelin-contracts"]
	path = chainlink/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "chainlink/lib/chainlink-local"]
	path = chainlink/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "foundry-fundamentals/raffle"]
	path = foundry-fundamentals/raffle
	url = git@github.com:kuzminklk/raffle.git
[submodule "foundry-fundamentals/fund-me"]
	path = foundry-fundamentals/fund-me
	url = git@github.com:kuzminklk/fund-me.git
[submodule "foundry-fundamentals/storage/lib/forge-std"]
	path = foundry-fundamentals/storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
