[submodule "full-stack/buy-me-a-coffee"]
	path = full-stack/buy-me-a-coffee
	url = git@github.com:kuzminklk/buy-me-a-coffee.git
	branch = main
[submodule "full-stack/tsender"]
	path = full-stack/tsender
	url = git@github.com:kuzminklk/tsender.git
	branch = main
[submodule "full-stack/nft-marketplace"]
	path = full-stack/nft-marketplace
	url = git@github.com:kuzminklk/nft-marketplace.git
	branch = main
